version: '3'

services:
  qvabu.api:
    image: qvabu.api
    build:
      context: .
      dockerfile: QvAbu.Api/Dockerfile
    ports:
        - "55555:55554"
    environment:
        QvAbuConnection: "Server=db;Database=master;User=sa;Password=YOUR_PASS.6210"
        ASPNETCORE_ENVIRONMENT: "Development"
        QvAbuUrl: "http://*:55554"
    depends_on:
        - db
  db:
      image: "microsoft/mssql-server-linux"
      environment:
          SA_PASSWORD: "YOUR_PASS.6210"
          ACCEPT_EULA: "Y"
