<div class="h4">{{question.text}}</div>
<p>{{subtitle}}</p>

<div class="container-fluid" [ngClass]="{'question-show-validation': isValidationLocked()}">
  <div class="row">
    <div class="col-12" *ngFor="let answer of question.answers; index as i;">
      <div class="custom-control custom-{{question.simpleQuestionType === 0 ? 'radio': 'checkbox'}} {{validationResult[i]}}">
        <input type="{{question.simpleQuestionType === 0 ? 'radio': 'checkbox'}}"
               class="custom-control-input"
               name="answer-{{question.id}}-{{question.revision}}"
               id="answer-id-{{answer.id}}"
               [disabled]="isValidationLocked()"
               (change)="onInputChange(answer.id)"
               [checked]="responses[i].value === true">
        <label class="custom-control-label" for="answer-id-{{answer.id}}">{{answer.text}}</label>
      </div>
    </div>

    <div class="col-12" *ngIf="isValidationLocked()">
      <app-validation-message [message]="validationMessage"></app-validation-message>
    </div>
  </div>
</div>
