<div class="h4">{{question.text}}</div>
<p>Kreuzen sie die
  {{question.isMultipleChoice
    ? ('zutreffenden' + (question.isNumberOfAnswersGiven ? ' ' + correctAnswersCount : '') + ' Aussagen')
  : 'zutreffende Aussage'}}
  an.</p>

<div class="row">
  <div class="col-12" *ngFor="let answer of question.answers; index as i;">
    <input id="answer-{{answer.id}}"
           type="{{question.isMultipleChoice ? 'checkbox' : 'radio'}}"
           name="answer-{{question.id}}-{{question.revision}}"
           [(ngModel)]="answer.isSelected">
    <label for="answer-{{answer.id}}">{{answer.text}}</label>
  </div>
</div>
