/* You can add global styles to this file, and also import other style files */
@import "styles/variables";
@import "styles/loading-spinner.scss";

body {
  padding: ($general-spacing * 2) 0 ($general-spacing * 2) 0;
  font-family: 'Titillium Web', sans-serif;

  * {
    -webkit-print-color-adjust: exact;
  }
}

/* General */
.page-title {
  text-align: center;
  margin-bottom: $general-spacing;
}

.qv-abu-container {
  padding: $general-spacing;
}

.qv-abu-container-content {
  padding: $general-spacing;
  border: $border-fat;
}

@media print {
  .hide-print {
    display: none !important;
  }
}

/* Buttons */
.btn.btn-link {
  cursor: pointer;
  color: $gray-800;
  text-decoration: none !important;

  &:hover {
    background-color: $gray-100;
  }

  &:focus {
    background-color: $gray-200;
  }
}

/* Radio Buttons */
.question-show-validation .radio-false .custom-control-indicator {
  background-color: $red !important;
}

.question-show-validation .radio-true .custom-control-indicator {
  background-color: $green !important;
}

/* Loading Spinner */
.loading-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
