@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// Spacing
$general-spacing:         20px;

// Border
$border-normal:           1px solid $gray-300;
$border-fat:              3px solid $gray-300;
