@import "../../styles/variables";

.questionnaire-preview-content {
  cursor: pointer;

  &:hover {
    background-color: $gray-100;
  }
}

.questionnaire-check {
  margin-top: -2px;
}

.inline-form-100 {
  width: 100px;
  display: inline-block;
}
