<div class="row">
  <div class="col">
    <h1 class="page-title">&Uuml;ber die ABU-QV Lernapp</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Author des Programmes</h2>
    <p>
      Die QBU-QV Lernapp wurde im Auftrag des Kantons Luzern von Lukas D&ouml;rig erstellt. Der Author war zur Zeit der Entwicklung des Tools
      ein Lernender der Informatiker Schwerpunkt Applikationsentwicklung.
    </p>
    <p>
      F&uuml;r weitere Informationen und den Quellcode besuchen sie die <a href="https://github.com/lukee910/">GitHub-Seite des Authors</a>.
      Dieses Produkt wurde unter der Open-Source-Lizenz <a href="https://opensource.org/licenses/MIT">"The MIT License"</a>
      entwickelt und steht jedem "as-is" zur Verwendung und Weiterentwicklung zur Verf&uuml;gung.
    </p>
    
    <h2>Inhalte</h2>
    <p>
      Die Inhalte werden von den Betreibern der Plattform verwaltet. Der Author des Programmes kann nicht f&uuml;r deren Korrektheit einstehen.
      Bitte Kontaktieren Sie die Betreiber der Plattform betreffend allf&auml;lligen Fehler.
    </p>

    <h2>Acknowledgements</h2>
    <p>
      Wie die meisten Open-Source-Projekte verwendet dieses Projekt Frameworks, die von anderen Programmieren frei erh&auml;tlich bereitgestellt werden.
      Daher m&ouml;chte ich hier den Authoren der folgenden Projekten danken:
    </p>
    <ul>
      <li><a href="https://github.com/angular/angular/graphs/contributors">Angular v5</a></li>
      <li><a href="https://github.com/twbs/bootstrap/graphs/contributors">Bootstrap v4</a></li>
      <li><a href="https://fontawesome.com/">FontAwesome v4</a></li>
      <li><a href="https://github.com/ReactiveX/rxjs/graphs/contributors">RxJs v5</a></li>
      <li><a href="https://github.com/lukee910/qv-abu/blob/master/QvAbu.Web/package.json">Und weitere</a></li>
    </ul>

    <h2>Programminformation</h2>
    <p>
      Version {{version}}
    </p>
  </div>
</div>
